/** styles/cores.css */
:root {
  --base: #22202b;
  --nk-50: #080611;
  --nk-100: #12101b;
  --nk-200: #181621;
  --nk-300: #22202b;
  --nk-400: #282631;
  --nk-overlay: var(--base);
  --nk-layout: var(--nk-200);
  --nk-ui: var(--nk-400);
}
